PORT=8080
APP_ENV=development
LOG_LEVEL=info
MUSIC_LIBRARY_PATH=/music
DATA_PATH=/data
SCANNER_WORKERS=4
APP_REPOSITORY_URL=https://github.com/BerkutSolutions/sonarium
APP_GITHUB_RELEASES_API=https://api.github.com/repos/BerkutSolutions/sonarium/releases/latest
DB_HOST=postgres
DB_PORT=5432
DB_USER=music
DB_PASSWORD=music
DB_NAME=music
DB_SSLMODE=disable
SUBSONIC_USERNAME=admin
SUBSONIC_PASSWORD=admin
SUBSONIC_MIN_VERSION=1.16.1
